.background {
	background-color: white;
}

.toptitle { 
	text-align: center;
}

h1 {
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h2 {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

.benefitstext {
 	font-size: 20px;
	font-family: 'Montserrat', sans-serif;

 }

.benefits {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 20px;
}
